<!-- <p>records works!</p> -->
<form [formGroup]="this.recordsService.form">
  <div class="text-center">
    <img
      [src]="imgSrc"
      width="200px"
      height="150px"
      (click)="fileUploader.click()"
      class="img-placeholder-upload"
    />
  </div>
  <input
    type="file"
    name="pic"
    accept="image/*"
    class="records__input-upload"
    #fileUploader
    (change)="showPreview($event); startUpload($event.target.files)"
  />
  <input
    *ngIf="downloadURL | async as url"
    type="text"
    autofocus
    formControlName="personImage"
    [value]="url"
  />
  <input
    placeholder="Name"
    formControlName="personName"
    type="text"
    class="records__input"
  />
  <input
    placeholder="Occupation"
    formControlName="personOccupation"
    type="text"
    class="records__input"
  />
  <textarea
    placeholder="Your thoughts about new acquaintance"
    formControlName="comments"
    type="text"
    class="records__input"
  ></textarea>
  <h2 class="records-header-traits">Positive Traits</h2>
  <button
    class="records__button"
    *ngFor="let trait of positiveTrait"
    (click)="addPositive(trait)"
  >
    {{ trait }}
  </button>

  <h2 class="records-header-traits red-text">Negative Traits</h2>
  <button
    class="records__button negative"
    *ngFor="let trait of negativeTrait"
    (click)="addNegative(trait)"
  >
    {{ trait }}
  </button>

  <ul class="records__collection">
    <li *ngFor="let trait of positiveOrder">
      <span class="records__list"> {{ trait }} </span>
      <a class="records__delete" (click)="removePositive(trait)">x</a>
    </li>
  </ul>

  <ul class="records__collection">
    <li *ngFor="let trait of negativeOrder">
      <span class="records__list"> {{ trait }} </span>
      <a class="records__delete" (click)="removeNegative(trait)">x</a>
    </li>
  </ul>
  <!-- <div *ngIf="downloadURL | async as url"> -->
  <!-- <h3>Results!</h3>
    <img [src]="url" /><br />
    <a [href]="url" target="_blank" rel="noopener">Download Me! {{ url }}</a> -->
  <!-- <input
    *ngIf="downloadURL | async as url"
    type="text"
    formControlName="personImage"
    [value]="url"
  /> -->
  <!-- </div> -->

  <button class="records__submit" (click)="onSubmit(); resetForm()">
    Submit
  </button>
</form>
